# Dolphin directory attributes files
.directory

# macOS Finder directory attributes files
.DS_Store

# CMake build directories
build/
cmake-build-debug/

# External tools directory
external_tools/

cmake-build-release/

\.idea/
