# Dolphin directory attributes files
.directory

# macOS Finder directory attributes files
.DS_Store

# CMake build directories
cmake-build-*/

# CLion project directory
.idea/

# lcov report
coverage.info

# Webpage output directory
page-output/

# Visual Studio Code workspace settings
.vscode/
