# Dolphin directory attributes files
.directory

# macOS Finder directory attributes files
.DS_Store

# CMake build directories
build/
cmake-build/
cmake-build-debug/
cmake-build-release/

# CLion project directory
.idea/

# Visual Studio Code configuration files
.vscode/

# Python
__pycache__/
